<div class="home-container">
    <!-- banner slider -->
    <div id="homepage-slider" class="st-slider">
        <input type="radio" class="cs_anchor radio" name="slider" id="play1" checked="" />
        <input type="radio" class="cs_anchor radio" name="slider" id="slide1" />
        <input type="radio" class="cs_anchor radio" name="slider" id="slide2" />
        <input type="radio" class="cs_anchor radio" name="slider" id="slide3" />
        <div class="images" style="position: relative">
            <div class="images-inner">
                <div class="image-slide">
                    <div class="banner-w3ls-1">

                    </div>
                </div>
                <div class="image-slide">
                    <div class="banner-w3ls-2">

                    </div>
                </div>
                <div class="image-slide">
                    <div class="banner-w3ls-3">

                    </div>
                </div>
            </div>
            <div class="labels">
                <div class="fake-radio">
                    <label for="slide1" class="radio-btn"></label>
                    <label for="slide2" class="radio-btn"></label>
                    <label for="slide3" class="radio-btn"></label>
                </div>
            </div>
        </div>

        <!-- banner-text -->
        <div class="banner-text">
            <fieldset>
                <legend>
                    <span class="logo">TL Shop</span>
                </legend>
                <div class="banner-sub-txt">
                    <h1 class="banner-txt">Chất lượng tạo nên thương hiệu</h1>
                    <p class="banner-txt1">Website chúng tôi ra đời luôn mong muốn mang lại cho khách hàng những sản phẩm tốt nhất với giá rẻ nhất có thể.</p>
                    <a class="btn button-style mt-5" [routerLink]="['../about']">Xem thêm...</a>
                </div>
            </fieldset>
        </div>
    </div>
    <!-- //banner-text -->

    <!-----------service------------>
    <div class="sevice" id="services" b>
        <div class="wrap">
            <div class="service-grids">
                <h2>Dịch Vụ Của Chúng Tôi</h2>
                <div class="images_1_of_4">
                    <img src="/assets/home/cal.png">
                </div>
                <div class="images_1_of_4">
                    <img src="/assets/home/port.png">
                </div>
                <div class="images_1_of_4">
                    <img src="/assets/home/camera.png">
                </div>
                <div class="images_1_of_4">
                    <img src="/assets/home/recyle.png">
                </div>
                <div class="clear"> </div>
            </div>
        </div>
    </div>
</div>
<div style="clear: both"></div>
<!-----------//service//------------>