  .content-container{
    /* font-family: 'Darker Grotesque', sans-serif !important; */
    font-size: 20px;
    margin: 0 auto;
    background: url(/assets/user/cover4.jpg) repeat 0px 0px !important;
    background-size: cover
  }
  nav{
    font-size: 20px;
    font-family: 'Dosis', sans-serif !important;
  }
  a.nav-link.active button.btn.btn-outline-dark{
    color: white
  }
  @keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }
  a.active button.btn.btn-outline-primary{
    background-color: #007bff;
    color: white;
  }
  a.active{
      padding: 0px;
      margin:  0.5rem 1rem;
      color: white
  }
  .nav-link {
    display: block;
    padding: .5rem .8rem;
  }
  #background{
    display:block;
    position:fixed;
    width:100%;
    height:100%;
    background-color: #3c005b;
    background: -webkit-radial-gradient(center, ellipse cover, #3c005b 1%,#0d0011 100%);
    background: -moz-radial-gradient(center, ellipse cover, #3c005b 1%,#0d0011 100%);
    background: -ie-radial-gradient(center, ellipse cover, #3c005b 1%,#0d0011 100%);
  }
  
  #logocontainer{
    display:block;
    position:relative;;
    width:80px;
    height:80px;
    overflow:hidden;
    transition:background-color 500ms;
    cursor:pointer;
  }
  
  #pelogo{
    display: block;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 70px;
    height: 70px;
    background: #34324b;
    background: -moz-linear-gradient(-45deg, #34324b 0%, #161222 100%);
    background: -webkit-linear-gradient(-45deg, #34324b 0%,#161222 100%);
    background: linear-gradient(135deg, #34324b 0%,#161222 100%);
    background-size: contain;
    font-family: Trebuchet MS, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #3ebffa;
    text-align: center;
    line-height: 70px;
  }
  
  .loader{
    display:block;
    position:absolute;
    background-color:#3ebffa;
  }
  
  @keyframes slide1{
    50%{width:75px; margin-left:0;}
    100%{margin-left:75px;}
  }
  
  @keyframes slide2{
    50%{height:75px; margin-top:0;}
    100%{margin-top:75px;}
  }
  
  @keyframes slide3{
    50%{width:75px; margin-right:0;}
    100%{margin-right:75px;}
  }
  
  @keyframes slide4{
    50%{height:75px; margin-bottom:0}
    100%{margin-bottom:75px;}
  }
  
  .stylish-color-dark {
    background-color: #e3f2fd!important;
    }
    footer.page-footer {
        bottom: 0;
        color: black;
    }
  
    ul li i.fa{
        font-size:  27px;
    }
    ul li i.fa:hover{
        cursor: pointer;
        color: #007bff;
        background-color: white
    }
    .content-container{
        margin: 0;
        width: 100%;
        height: auto;
        color: rgb(15, 13, 13);
        /* background: linear-gradient(-45deg, lightblue , lightpink, lightskyblue, lightsteelblue);
        background-size: 300% 300%; */
        animation: gradientBG 15s ease infinite;
    }

    .notice-item-bg{
      display: flex;
      position: absolute;
      color: white;
      width: 20px;
      height: 20px;
      top: -20%;
      right: -8%;
      background-color: white;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }

    .notice-item{
      display: flex;
      position: absolute;
      color: white;
      width: 20px;
      height: 20px;
      top: -20%;
      right: -8%;
      background-color: blue;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      -webkit-animation-name: noti; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
      animation-name: noti;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes noti {
      0%   {opacity: 0}
      25%  {opacity: 0.5}
      50%  {opacity: 1}
      75%  {opacity: 0.5}
      100% {opacity: 0}
    }

    /* Standard syntax */
    @keyframes noti {
      0%   {opacity: 0}
      25%  {opacity: 0.5}
      50%  {opacity: 1}
      75%  {opacity: 0.5}
      100% {opacity: 0}
    }
    
    /* footer */
footer {
  background: #17181b;
}

h3.footer-title,
h2.footer-title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.foot-icon-w3 span {
  color: #fff;
  font-size: 20px;
}

/* newsletter */
.subscribe_form input[type="email"] {
  width: 70%;
  float: left;
  padding: 13px;
  font-size: 14px;
  color: #000;
  outline: none;
  background: #fff;
  border: none;
  letter-spacing: 1px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -moz-border-radius: 0px;
}

.subscribe_form button {
  font-size: 15px;
  outline: none;
  letter-spacing: 1px;
  padding: 13px 20px;
  border: none;
  color: #fff;
  background: #6174fc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -moz-border-radius: 0px;
}

/* //newsletter */

/* social icons */
.w3pvt-webits_social_list li {
  display: inline-block;
}

.w3pvt-webits_social_list li {
  width: 36px;
  height: 36px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
}

.w3pvt-webits_social_list li a span {
  color: #fff;
  line-height: 36px;
}

.w3_w3pvt-web_facebook {
  background: #3b5998;
  border-color: #3b5998;
}

.w3pvt-web_twitter {
  background: #1da1f2;
  border-color: #1da1f2;
}

.w3_w3pvt-web_dribble {
  background: #ea4c89;
  border-color: #ea4c89;
}

.w3_w3pvt-web_google {
  background: #F44336;
  border-color: #F44336;
}

/* //social-icons */
footer{
  position: relative;
  z-index: 99999;
}
/* contact address */
.contact-info h4 {
  font-size: 16px;
  letter-spacing: 1px;
}

.footer-text p,
.contact-info p a,
.contact-info p,
.footer-grid_section_1its p {
  color: #727377;
  font-size: 15px;
}

.footer-title h3 {
  font-size: 24px;
  color: #f3f3f3;
  letter-spacing: 1px;
}

/* //contact address */
/* //footer */

/* copyright */
.cpy-right {
  background: #1c1d21;
}

.cpy-right p {
  letter-spacing: 2px;
  font-size: 14px;
}

.cpy-right p a {
  color: #eee;
}

.cpy-right p a:hover {
  color: #ff6b6b;
}

/* //copyright */