
  .cart-list-container{
    padding: 40px 20px 40px;

  }
  .cart-list-container .cart-content{
    display: flex;
    justify-content: center;
  }

  .cart-list-container h2{
    text-align: center
  }

  .cart-list-container a.btn.btn-primary.btn-lg {
    margin-top: 20px;
  }

  .cart-list-container .action-confirm{
      margin-top: 30px;
  }
  .cart-list-container .action-confirm button.btn-outline-success{
    margin-right: 10px;
  }

  .cart-list-container .action-confirm button.btn{
    border-radius: 15px;
    font-size: 18px;
  }

  .cart-list-container .image img{
      margin-top: -10px;
      margin-bottom: 10px;
  }
  .cart-list-container .shopping-cart {
    width: 750px;
    margin: 0px auto;
    margin-bottom: 10px!important;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 3px rgba(0,0,0,0.10);
    border-radius: 6px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
  }
  
  .cart-list-container .title {
    border-bottom: 1px solid #E1E8EE;
    padding: 0px 30px 20px;
    color: #5E6977;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
  }

  .cart-list-container mat-horizontal-stepper{
    font-family: 'Dosis', sans-serif !important;
  }
  
  .cart-list-container .item {
    padding: 30px 30px 20px;
    height: 120px;
    display: flex;
    margin-bottom: 20px;
    border-top:  1px solid #E1E8EE;
  }

  .cart-list-container .total {
    text-align: center;
    padding-top: 15px;
    border-top:  1px solid #E1E8EE;
}
.cart-list-container .total .money-detail{
  background: #FFFFFF;
  border: solid 2px gold;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow:7px 7px 5px grey; 
  animation-name: change-bg;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes change-bg {
  0%  {box-shadow: 7px 7px 5px lightblue}
  50% {box-shadow: -7px 7px 5px lightblue}
  100%  {box-shadow: 7px 7px 5px lightblue}
}

  /* Buttons -  Delete and Like */
  .cart-list-container .buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
    display: flex;
  }
  
  .cart-list-container .delete-btn {
    display: inline-block;
    cursor: pointer;
    width: 18px;
    height: 17px;
    background: url("/assets/cart/delete-icn.svg") no-repeat center;
    margin-right: 20px;
  }
  
  .cart-list-container .like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    display: inline-block;
    background: url('/assets/cart/twitter-heart.png');
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  .cart-list-container .is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
  
  @keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
  }
  
  /* Product Image */
  .cart-list-container .image {
    margin-right: 50px;
  }
  
  /* Product Description */
  .cart-list-container  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cart-list-container .description span {
    display: block;
    font-size: 15px;
    color: #43484D;
    font-weight: 400;
  }
  
  .cart-list-container .description span:first-child {
    margin-bottom: 5px;
  }
  .cart-list-container  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }
  
  /* Product Quantity */
  .cart-list-container .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
  }
  .cart-list-container .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 35px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
  
  .cart-list-container button.sign[class*=btn] {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  
  .cart-list-container .plus-btn img {
    margin-top: 2px;
  }
  .cart-list-container button.sign:focus,
  .cart-list-container input.sign:focus {
    outline:0;
  }
  
  /* Total Price */
  .cart-list-container .total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
  
  /* Responsive */
  @media (max-width: 800px) {
    .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .image img {
      width: 50%;
    }
    .image,
    .quantity,
    .description {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
    .buttons {
      margin-right: 20px;
    }
  }
  