<div class="list-product-container">

    <div style="text-align: center; margin-bottom: 5px">
        <a [routerLink]="['../add']">
            <button class="btn btn-success add"><i class="fa fa-plus-circle"></i>Thêm sản phẩm</button>
        </a>
    </div>
    <!-- content -->
    <ng-container *ngIf="products">
            <input [(ngModel)]="term" class="search-input form-control mr-sm-2" type="search" placeholder="Nhập tên sản phẩm bạn muốn tìm..."
                aria-label="Search">
        <div class="lm-item lm-item-1" *ngFor="let product of products | filter:term | paginate: { itemsPerPage: 10, currentPage: p }">
                <swal
                #deleteSwal
                title="Xóa?"
                text="Bạn muốn xóa sản phẩm này?"
                type="question"
                [showCancelButton]="true"
                [focusCancel]="false"
                (confirm)="deleteProduct(product.id)"
                (cancel)="cancelProduct()">
              </swal>
            <div class="lm-item-top">
                <span class="lm-item-title lm-underline">{{product.name}}</span>
                <div class="lm-item-price item-price2-w3ls">Giá: {{product.price}} VND
                </div>
            </div>
            <div class="lm-item-body">
                <div class="lm-item-desc">
                    <div class="cover-img">
                        <div class="product-img">
                            <img src="/assets/products/logo.png"></div>
                    </div>
                </div>
            </div>
            <div class="lm-item-bottom">
                    <button mat-raised-button data-toggle="modal" class="btn btn-info" data-target="#exampleModalCenter"
                    (click)="viewProduct(product)"
                    matTooltip="Xem chi tiết"
                    aria-label="Button that displays a tooltip when focused or hovered over">
                    <i class="fa fa-eye"></i></button>
            
                
                <a [routerLink]="['../edit', product.id]">
                    <button mat-raised-button class="btn btn-success"
        matTooltip="Chỉnh sửa"
        aria-label="Button that displays a tooltip when focused or hovered over">
        <i class="fa fa-edit"></i>
</button>
                </a>
                <button mat-raised-button  [swal]="deleteSwal" class="btn btn-warning"
        matTooltip="Xóa sản phẩm"
        aria-label="Button that displays a tooltip when focused or hovered over">
        <i
        class="fa fa-remove"></i>
</button>
                        <button mat-raised-button class="btn btn-primary" (click)="addProductToCart(product)"
        matTooltip="Thêm vào giỏ hàng"
        aria-label="Button that displays a tooltip when focused or hovered over">
        <i class="fa fa-cart-plus"></i>
</button>
                
            </div>

        </div>
        <!-- Modal -->
        <div *ngIf="currentProduct" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <table>
                        <tr>
                            <td rowspan="100%" style="vertical-align: middle; text-align: center"><img
                                    class="view-product-img" src="/assets/products/logo.png" width="100px"
                                    height="100px"></td>
                            <td>
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle"><span class="label-item">Sản
                                            Phẩm: </span> <span class="info-item">{{currentProduct.name}}</span></h5>
                                    <button type="button" class="close"></button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="modal-body">
                                    <span class="label-item">Giới Thiệu: </span> <span
                                        class="info-item">{{currentProduct.description}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="modal-sub-footer">
                                    <span class="label-item">Đơn Giá: </span> <span
                                        class="info-item">{{currentProduct.price}}/sản phẩm</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>

                                <div class="modal-sub-footer">
                                    <span class="label-item">Số Lượng Kho: </span> <span
                                        class="info-item">{{currentProduct.amount}} sản phẩm</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info" data-dismiss="modal"
                                        (click)="addIssue()">Vấn Đáp</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                                        (click)="viewProduct(null)">Đóng</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- Modal -->
    </ng-container>
	<pagination-controls class="pagination" (pageChange)="p = $event" style="display:  block; text-align: center"></pagination-controls>

    <!-- //content -->
</div>

