<div class="registered-container">
    <div class="w3layouts-two-grids">
        <div class="mid-class">
            <div class="img-right-side">
                <h3>QUẢN LÝ TÀI KHOẢN CỦA BẠN</h3>
                <div style="width: 100%; text-align: center">
                    <ol style="text-align: left; display: inline-block;">
                        <li>Tài Khoản: Đặt tên TK viết liền không dấu.</li>
                        <li>Mật Khẩu: Nên có ít nhất 6 kí tự để bảo mật.</li>
                        <li>Tên Người Dùng: Nên đặt theo tên thật của người dùng.</li>
                        <li>Số Điện Thoại: Nên dùng số điện thoại thường dùng.</li>
                        <li>Thư Điện Tử: Nên dùng địa chỉ email thường dùng.</li>
                        <li>Địa Chỉ: Địa chỉ nhà hoặc cty, cụ thể số nhà/đường/quận/tp.</li>
                    </ol>
                </div>
                <img src="./assets/user/b11.png" class="img-fluid" alt="">
            </div>
            <div class="txt-left-side">
                <h2><span class="badge badge-info" style="padding: 15px;  border-radius: 20px;">ĐĂNG KÝ TÀI KHOẢN</span>
                </h2>
                <form action="#" method="">
                    <div class="form-left-to-w3l">
                        <span class="fa fa-user-o" aria-hidden="true"></span>
                        <input type="text" name="user" placeholder="Tài Khoản" required="">
                        <div class="clear"></div>
                    </div>
                    <div class="form-left-to-w3l">
                        <span class="fa fa-lock" aria-hidden="true"></span>
                        <input type="password" name="password" placeholder="Mật Khẩu" required="">
                        <div class="clear"></div>
                    </div>
                    <div class="form-left-to-w3l ">
                        <span class="fa fa-user-secret" aria-hidden="true"></span>
                        <input type="text" name="name" placeholder="Tên Người Dùng" required="">
                        <div class="clear"></div>
                    </div>
                    <div class="form-left-to-w3l">
                        <span class="fa fa-phone" aria-hidden="true"></span>
                        <input type="text" name="Phone" placeholder="Số Điện Thoại" required="">
                        <div class="clear"></div>
                    </div>
                    <div class="form-left-to-w3l">
                        <span class="fa fa-envelope-o" aria-hidden="true"></span>
                        <input type="email" name="email" placeholder="Thư Điện Tử" required="">
                        <div class="clear"></div>
                    </div>
                    <div class="form-left-to-w3l ">
                        <span class="fa fa-address-card" aria-hidden="true"></span>
                        <input type="text" name="address" placeholder="Địa Chỉ" required="">
                        <div class="clear"></div>
                    </div>
                    <div class="btnn">
                        <button type="submit" class="btn btn-danger">Đăng Ký</button>
                    </div>
                </form>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>