<div class="registered-container">
    <div class="w3layouts-two-grids">
        <div class="mid-class">
            <div class="img-right-side">
                <h3>QUẢN LÝ TÀI KHOẢN CỦA BẠN</h3>
                <div style="width: 100%; text-align: center">
                    <ol style="text-align: left; display: inline-block;">
                        <li>Tài Khoản: Đặt tên TK viết liền không dấu.</li>
                        <li>Mật Khẩu: Nên có ít nhất 6 kí tự để bảo mật.</li>
                        <li>Tên Người Dùng: Nên đặt theo tên thật của người dùng.</li>
                        <li>Số Điện Thoại: Nên dùng số điện thoại thường dùng.</li>
                        <li>Thư Điện Tử: Nên dùng địa chỉ email thường dùng.</li>
                        <li>Địa Chỉ: Địa chỉ nhà hoặc cty, cụ thể số nhà/đường/quận/tp.</li>
                    </ol>
                </div>
                <img src="./assets/user/b11.png" class="img-fluid" alt="">
            </div>
            <div class="txt-left-side">
                <h2><span class="badge badge-info" style="padding: 15px;  border-radius: 20px;">ĐĂNG KÝ TÀI KHOẢN</span>
                </h2>
                <form [formGroup]="registeredForm" (ngSubmit)="saveLoginForm(registeredForm)">
                    <div class="cover-input-form">
                        <div class="form-left-to-w3l">
                            <span class="fa fa-user-o" aria-hidden="true"></span>
                            <input type="text" formControlName="user" placeholder="Tài Khoản">
                            <div class="clear"></div>
                        </div>
                        <div *ngIf="registeredForm.controls['user'].hasError('required') 
                        && registeredForm.controls['user'].touched" class="alert alert-danger slider-error">
                            Vui lòng nhập tên tài khoản!
                        </div>
                    </div>
                    <div class="cover-input-form">
                            <div class="form-left-to-w3l">
                                <span class="fa fa-lock" aria-hidden="true"></span>
                                <input type="password" formControlName="password" minlength="6" placeholder="Mật Khẩu">
                                <div class="clear"></div>
                            </div>
                            <div *ngIf="registeredForm.controls['password'].hasError('required') 
                            && registeredForm.controls['password'].touched" class="alert alert-danger slider-error">
                                Vui lòng nhập mật khẩu!
                            </div>
                            <div *ngIf="registeredForm.controls['password'].hasError('minlength') 
                            && registeredForm.controls['password'].touched" class="alert alert-danger slider-error">
                                Mật khẩu có ít nhất 6 ký tự!
                        </div>
                    </div>
                    <div class="cover-input-form">
                        <div class="form-left-to-w3l">
                            <span class="fa fa-clock-o" aria-hidden="true"></span>
                            <input type="password" formControlName="repassword" placeholder="Nhập Lại Mật Khẩu">
                            <div class="clear"></div>
                        </div>
                        <div *ngIf="registeredForm.controls['repassword'].hasError('required') 
                        && registeredForm.controls['repassword'].touched" class="alert alert-danger slider-error">
                            Vui lòng nhập lại mật khẩu!
                        </div>
                        <div *ngIf="registeredForm.controls['repassword'].hasError('checkPasswords') 
                        && registeredForm.controls['repassword'].touched" class="alert alert-danger slider-error">
                            Mật khẩu không khớp!!
                        </div>
                    </div>
                    <div class="cover-input-form">
                        <div class="form-left-to-w3l ">
                            <span class="fa fa-user-secret" aria-hidden="true"></span>
                            <input type="text" formControlName="name" placeholder="Tên Người Dùng">
                            <div class="clear"></div>
                        </div>
                        <div *ngIf="registeredForm.controls['name'].hasError('required') 
                        && registeredForm.controls['name'].touched" class="alert alert-danger slider-error">
                            Vui lòng nhập tên tên người dùng!
                        </div>
                    </div>
                    <div class="cover-input-form">
                        <div class="form-left-to-w3l">
                            <span class="fa fa-phone" aria-hidden="true"></span>
                            <input type="text" formControlName="phone" minlength="10" maxlength="10" (keypress)="numberOnly($event)" placeholder="Số Điện Thoại">
                            <div class="clear"></div>
                        </div>
                        <div *ngIf="registeredForm.controls['phone'].hasError('required') 
                        && registeredForm.controls['phone'].touched" class="alert alert-danger slider-error">
                            Vui lòng nhập số điện thoại!
                        </div>
                        <div *ngIf="registeredForm.controls['phone'].hasError('minlength') 
                        && registeredForm.controls['phone'].touched" class="alert alert-danger slider-error">
                            Số điện thoại phải có 10 chữ số!
                        </div>
                    </div>
                    <div class="cover-input-form">
                        <div class="form-left-to-w3l">
                            <span class="fa fa-envelope-o" aria-hidden="true"></span>
                            <input type="email" formControlName="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Thư Điện Tử">
                            <div class="clear"></div>
                        </div>
                        <div *ngIf="registeredForm.controls['email'].hasError('required') 
                        && registeredForm.controls['email'].touched" class="alert alert-danger slider-error">
                            Vui lòng nhập email!
                        </div>
                        <div *ngIf="registeredForm.controls['email'].hasError('pattern') 
                        && registeredForm.controls['email'].touched" class="alert alert-danger slider-error">
                            Định dạng email không chính xác!
                        </div>
                    </div>
                    <div class="cover-input-form">
                        <div class="form-left-to-w3l ">
                            <span class="fa fa-address-card" aria-hidden="true"></span>
                            <input type="text" formControlName="address" placeholder="Địa Chỉ">
                            <div class="clear"></div>
                        </div>
                        <div *ngIf="registeredForm.controls['address'].hasError('required') 
                        && registeredForm.controls['address'].touched" class="alert alert-danger slider-error">
                            Vui lòng nhập địa chỉ!
                        </div>
                    </div>
                    <div class="btnn">
                        <button type="submit" [disabled]="!registeredForm.valid" class="btn btn-danger">Đăng Ký</button>
                    </div>
                </form>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>