<div class="login-container">
    <div class=" w3l-login-form">
        <h2><span class="badge badge-info" style="padding: 15px; border-radius: 20px;">ĐĂNG NHẬP TÀI KHOẢN</span></h2>
        <form [formGroup]="loginForm">
            <div class="w3l-form-group">
                <div class="group">
                    <i class="fa fa-user"></i>
                    <input type="text" class="form-control" placeholder="Tài Khoản" required="required" />
                </div>
            </div>
            <div class="w3l-form-group">
                <div class="group">
                    <i class="fa fa-lock"></i>
                    <input type="password" class="form-control" placeholder="Mật Khẩu" required="required" />
                </div>
            </div>
            <div class="forgot">
                <a>Quên Mật Khẩu?</a>
                <p><input type="checkbox" style="position: relative; top: 2px">&nbsp;Ghi Nhớ</p>
            </div>
            <div class="w3l-form-group submit-login">
                <button type="submit" class="btn btn-danger">Đăng Nhập</button>
            </div>
        </form>
    </div>
</div>