<div class="login-container">
    <div class=" w3l-login-form">
        <h2><span class="badge badge-info" style="padding: 10px">LOGIN FORM</span></h2>
        <form action="#" method="POST">

            <div class="w3l-form-group">
                <div class="group">
                    <i class="fa fa-user"></i>
                    <input type="text" class="form-control" placeholder="Username" required="required" />
                </div>
            </div>
            <div class="w3l-form-group">
                <div class="group">
                    <i class="fa fa-unlock"></i>
                    <input type="password" class="form-control" placeholder="Password" required="required" />
                </div>
            </div>
            <div class="forgot">
                <a href="#">Forgot Password?</a>
                <p><input type="checkbox">Remember Me</p>
            </div>
            <button type="submit" class="btn btn-danger">Login</button>
        </form>
    </div>
</div>