
.login-container{
    padding: 50px 30px
}

.alert{
    padding: 5px;
    border-radius: 20px
}

.login-container form div.slider-error {
    -webkit-animation-name: slide; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: slide;
    animation-duration: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes slide {
    from {opacity: 0; margin-top: -5%}
    to {opacity: 1; margin-top: 0%}
  }
  
  /* Standard syntax */
  @keyframes slide {
    from {opacity: 0; margin-top: -5%}
    to {opacity: 1; margin-top: 0%}
  }

h1 {
    margin: 0;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 50px 0;
}

h2 {
    margin: 0;
    color: #fc3955;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 30px;
}

p.w3l-register-p {
    color: #eee;
    text-align: center;
    margin-top: 2em;
}

.w3l-login-form {
    background: rgba(0, 0, 0, 0.4117647058823529);
    max-width: 500px;
    margin: 0 auto;
    padding: 3em;
    box-sizing: border-box;
}
button[type="submit"]{
    font-size: 20px;
    border-radius: 20px;
}
.group {
    display: flex;
    padding: 5px 5px;
    background-color: #ffffff;
    border-radius: 20px;
}

.group i {
    color: #fc3955;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.w3l-form-group {
    margin: 20px 0;
}

.w3l-form-group label {
    display: block;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-style: italic;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    border: none;
    box-sizing: border-box;
    background: transparent;
    color: #000;
    font-size: 20px
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
}
.forgot a, .forgot p{
    font-size: 18px;
    color: #ffffff
}
button {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    border: none;
    padding: 20px 60px;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
}

button:hover {
    background-color: #00BCD4;
    transition-duration: 5s;
}

.forgot {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

a {
    color: #eee;
    text-decoration: none;
}

.forgot p {
    color: #ffffff;
    text-align: center;
    margin: 0px;
}

.register {
    color: #00BCD4;
    text-decoration: none;
}
