.about-container {
    background: url("/assets/about/22.jpg");
	background-position: center;
	background-size: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	font-family: 'Abel', sans-serif;
}
