<div class="product-add-container">
        <!-- <swal
        #saveSwal
        title="Thành Công!"
        text="Sản phẩm đã được lưu!"
        type="success"
        timer="2000"
        [showCancelButton]="false"
        [focusCancel]="false"
        (confirm)="addNewProduct()">
      </swal> -->

    <h1 class="badge badge-info" style="padding: 15px; border-radius: 20px;">THÊM SẢN PHẨM</h1>
    <div class="w3ls-contact">
        <form [formGroup]="addProductForm" (ngSubmit)="addNewProduct(addProductForm)">
            <div class="agile-field-txt">
                <label>
                    <i class="fa fa-user" aria-hidden="true"></i> Tên:</label>
                <input type="text" placeholder="" formControlName="name" />
                <div *ngIf="addProductForm.controls['name'].hasError('required') 
                    && addProductForm.controls['name'].touched" class="alert alert-danger slider-error">
                    Tên sản phẩm không được để trống!
                </div>
            </div>
            <div class="agile-field-txt">
                <label>
                    <i class="fa fa-pencil" aria-hidden="true"></i>Giới thiệu:</label>
                <textarea placeholder="" formControlName="description" minlength="20"></textarea>
                <div *ngIf="addProductForm.controls['description'].hasError('required') 
                    && addProductForm.controls['description'].touched" class="alert alert-danger slider-error">
                    Lời giới thiệu không được để trống!
                </div>
                <div *ngIf="addProductForm.controls['description'].hasError('minlength') 
                    && addProductForm.controls['description'].touched" class="alert alert-danger slider-error">
                    Lời giới thiệu quá ngắn, phải có ít nhất 20 kí tự!
                </div>
            </div>
            <div class="agile-field-txt">
                <label>
                    <i class="fa fa-laptop" aria-hidden="true"></i>Đơn giá:</label>
                <input type="text" minlength="4" placeholder="" formControlName="price" (keypress)="numberOnly($event)" />
                <div *ngIf="addProductForm.controls['price'].hasError('required') 
                    && addProductForm.controls['price'].touched" class="alert alert-danger slider-error">
                    Giá sản phẩm không được để trống!
                </div>
                <div *ngIf="addProductForm.controls['price'].hasError('minlength') 
                    && addProductForm.controls['price'].touched" class="alert alert-danger slider-error">
                    Sản phẩm phải có giá ít nhất là 1.000!
                </div>
            </div>
            <div class="agile-field-txt">
                <label>
                    <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>Số lượng:</label>
                <input type="text" placeholder="" formControlName="amount" (keypress)="numberOnly($event)" />
                <div *ngIf="addProductForm.controls['amount'].hasError('required') 
                    && addProductForm.controls['amount'].touched" class="alert alert-danger slider-error">
                    Số lượng sản phẩm không được để trống!
                </div>
                <div *ngIf="addProductForm.controls['amount'].hasError('minlength') 
                && addProductForm.controls['amount'].touched" class="alert alert-danger slider-error">
                Sản phẩm phải có giá ít nhất là 1.000!
            </div>
            </div>
            <div class="w3ls-contact  w3l-sub">
                <button class="btn btn-danger" [disabled]="!addProductForm.valid">LƯU</button>
            </div>
        </form>
    </div>
</div>